<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86C300551CE5F9E800A48DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86C300691CE5F9E800A48DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86C300741CE5F9E800A48DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
